/*==============
    META
  ==============*/
:root{
	--chartreuse: #CDFF9B;
	--denim: #6CA6B8;
	--linen: #DDC094;
	--bark: rgba(184,144,108,0.36);
	--ink: #3E3E3E;
	--smudge: rgba(132,121,121,0.36);
	--pearl: linear-gradient(204deg, #EEEEE6 0%, #F7FAF0 60%, #F0FFF1 75%, #FFFFFF 100%);
	--oyster: #EEEEE6;
	--passione: #8E2929;
	--mocha: #8D4B26;
	--coffee: #3C0404;
	--oysterDark: #D8D9D5;
}

html, body {
	margin: 0;
  	padding: 0;
  	height: 100vh;
  	width: 100vw;
	background-color: var(--linen);
}

::selection{
	background-color: rgba(0,0,0,0);
	color: salmon;
}

a {
	color: var(--passione);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--mocha);
}

/*================
    FONT KIT
  ================*/

@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
.mrDeHaviland{
	  font-family: 'Mr De Haviland', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.gentiumBasic{
	  font-family: 'Gentium Basic', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.taviraj{
	  font-family: 'Taviraj', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
.lancelot{
	  font-family: 'Lancelot', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.ptSans{
	  font-family: 'PT Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
.syncopate{
	  font-family: 'Syncopate', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.cousine{
	  font-family: 'Cousine', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
.laBelleAurore{
	  font-family: 'La Belle Aurore', cursive;
}

/*====================
    WORK IN PROGRESS
  ====================*/



label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
